@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(colors.variables.css);

@layer components {
  .navi-icon {
    @apply relative flex justify-center items-center  h-8 w-8
    hover:bg-gray-800 hover:text-turquoise mt-2.5 rounded-3xl bg-gray-400 text-white
    hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer mx-auto shadow-lightMDAllSides dark:shadow-darkMDAllSides;
  }
  .tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-10 rounded-md shadow-md text-white 
    bg-gray-800 text-xs font-bold transition-all duration-200 scale-0 origin-left;
  }
}

body {
  background-color: #f1f1f1;
  color: var(--primaryText);
}

input[type="file"] {
  display: none;
}
