@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./fontFaces.css");

/* Custom class for tailwind */
@layer components {
  .navi-icon {
    @apply relative flex justify-center items-center  h-8 w-8
    lg:hover:bg-gray-800 lg:hover:text-turquoise mt-5 mr-28 rounded-3xl bg-gray-400 dark:bg-gray-800 text-white dark:text-turquoise
    hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer lg:mx-auto shadow-lightMDAllSides dark:shadow-darkMDAllSides;
  }
  .tooltip {
    @apply absolute lg:w-auto lg:p-2 lg:m-2 min-w-max left-12 lg:left-10 lg:rounded-md lg:shadow-md text-turquoise lg:text-white 
    lg:bg-gray-800 text-xs font-bold lg:transition-all lg:duration-200 lg:scale-0 lg:origin-left;
  }
  .backgroundColor {
    @apply bg-lightBackground dark:bg-darkBackground;
  }
}

input[type="file"] {
  display: none;
}
/* Hide PWA custom install button 
@media all and (display-mode: standalone) {
  .installButton {
    display: none;
  }
} */

/* Hamburger button animation */
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
  stroke-width: 4;
  stroke-linecap: round;
}
.ham3 .top {
  stroke-dasharray: 40 130;
}
.ham3 .middle {
  stroke-dasharray: 40 140;
}
.ham3 .bottom {
  stroke-dasharray: 40 205;
}
.ham3.active .top {
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px;
}
.ham3.active .middle {
  stroke-dashoffset: -102px;
}
.ham3.active .bottom {
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px;
}

/* Prevent images highlighted on click */
img::selection {
  background-color: transparent;
}
img::-moz-selection {
  background-color: transparent;
}
